<?xml version="1.0"?>
<config>
	<modules>
		<Fourtek_Searchsuggestion>
			<version>1.0.0</version>
		</Fourtek_Searchsuggestion>
	</modules>
    <global>
		<blocks>
			<catalogsearch>
				<rewrite>
					<autocomplete>Fourtek_Searchsuggestion_Block_Searchsuggestion</autocomplete>
				</rewrite>
			</catalogsearch>
		</blocks>
		<helpers>
            <searchsuggestion>
                <class>Fourtek_Searchsuggestion_Helper</class>
            </searchsuggestion>
        </helpers>
		<models>
            <searchsuggestion>
                <class>Fourtek_Searchsuggestion_Model</class>
            </searchsuggestion>
        </models>
    </global>
    <frontend>
       <layout>
            <updates>
                <search>
                    <file>searchsuggestion.xml</file>
                </search>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <searchsuggestion translate="title" module="searchsuggestion">
                                            <title>fourtek Searchsuggestion</title>
                                            <sort_order>50</sort_order>
                                        </searchsuggestion>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
